<%- include('partials/header'); -%>

<h2 class="friend-code-title">Enter Friend's Code!</h2> <br />
<p class="friend-code-sub-message">Enjoy the Show!!!  </p>

    <div class= "login-form form-control-lg">

        <form action='/friendCode' id="friendCode" method="post">
            <input placeholder="friends username" type='textarea' name='friendUsername' required/> <br /> <br />
            <input placeholder="friends code" type='text' name='friendCode' required/> <br /> <br />
            <input class="login-submit-button btn btn-lg btn-warning"id="friendCode" type="submit" value="submit" />
        </form>

    </div>




<script type="text/javascript" src="/javascripts/voila.js" > </script>

<%- include('partials/footer'); -%>
