<%- include('partials/header'); -%>



  <div class="index-message container-fluid">

    <h2 >

    Reveal your before and after <br />
    pictures like a magician    ! ! !

    </h2>

  </div>



    <div class= "index-buttons">

      <a href='register'><button type="submit" class="btn btn-warning btn-xlarge"  value="Submit">Register</button></a>
      <a href='login'><button type="submit" class="btn btn-warning btn-xlarge"  value="Submit">Login</button></a>
      <a href='friendCode'><button type="submit" class="btn btn-warning btn-xlarge" value="Submit">View Your Friend's</button></a>




    </div>



<script type="text/javascript" src="/javascripts/voila.js" > </script>

<%- include('partials/footer'); -%>
