<%- include('partials/header'); -%>



<body>

    <div class="container-fluid  heading ">

      <img class="logo" src="images/magicwand.png" alt="magic wand" />
      <h1> Voila ! </h1>

    </div>


    <div class= "infoo">

        <h2 >Login</h2>

          <form action='/login' id="login" method="post">

            <label for="username">username</label>
            <input type='text' name='username'/>
            <label for="password">password</label>
            <input type='text' name='password'/>
            <input id="loginButton" type="submit" value="submit" />
            <h3>  <%= error %> </h3>

          </form>

    </div>


<script type="text/javascript" src="/javascripts/voila.js" > </script>

</body>
</html>
