<%- include('partials/header'); -%>

<h2 class="register-title" id="uploadPrompt">Register</h2>


    <div class= "register-form ">


        <form  action='/register' id="login" method="post">

            <input  placeholder="Username" id="validateUsername" type='text' name='username' required/>

            <input placeholder="Password" type='text' name='password' required/> <br /> <br />

            <input placeholder="First Name" type='text' name='firstName' required/>

            <input placeholder="Last Name" type='text' name='lastName' required/>  <br /> <br />

            <input placeholder="Before Weight"type='number' name='beforeWeight' required/>

            <input placeholder="After Weight" type='number' name='afterWeight'required/> <br /> <br />


            <textarea placeholder="How'd you make that transformation?" name="secrets" form="login"></textarea>
            <label class="height-label" for="height">Height</label>
            <input placeholder="ft"  class="height-box" type='number' name='feet'/>
            <input placeholder="in" class="height-box" type='number' name='inches'/> <br /> <br />

            <input id="registerButton" class="register-button btn btn-warning btn-xlarge"type="submit" value="submit" />

        </form>

    </div>

<script type="text/javascript" src="/javascripts/voila.js" > </script>

<%- include('partials/footer'); -%>
