<%- include('partials/header'); -%>

<body>

    <div class="container-fluid  heading ">

      <img class="logo" src="images/magicwand.png" alt="magic wand" />
      <h1> Voila ! </h1>

    </div>


    <div class= "infoo">

      <h2 id="uploadPrompt">Register</h2>

        <form action='/register' id="login" method="post">

            <label for="username">username</label>
            <input type='text' name='username'/> <br />

            <label for="password">password</label>
            <input type='text' name='password'/> <br />

            <label for="firstName">First Name</label>
            <input type='text' name='firstName'/> <br />

            <label for="lastName">Last Name</label>
            <input type='text' name='lastName'/>  <br />

            <label for="beforeWeight">Before Weight</label>
            <input type='number' name='beforeWeight'/> <br />

            <label for="afterWeight">After Weight</label>
            <input type='number' name='afterWeight'/> <br />

            <label for="height">height</label>
            <input type='number' name='height'/> <br />
            
            <textarea name="secrets" form="login">Whoa! How'd you do that?! (how'd you make that transformation?)...</textarea>

            <input id="registerButton" type="submit" value="submit" />

        </form>

    </div>

<script type="text/javascript" src="/javascripts/voila.js" > </script>

</body>
</html>
