<%- include('partials/header'); -%>



  <div class="index-message container-fluid">

    <h2 >

    ERROR : You cannot upload  <br />
    that type of file - click Voila <br />
    to restart    ! ! !


  </div>




<script type="text/javascript" src="/javascripts/voila.js" > </script>

<%- include('partials/footer'); -%>
