<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Voila!</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.1/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="styles.css" />
  </head>
  <body>



<div class="container-fluid  heading ">

  <img class="logo" src="images/magicwand.png" alt="magic wand" />
  <h1> Voila ! </h1>


  <p class="other-text">
  </p>

</div>

<div class= "infoo">
  <p class= "before-info">
  <!-- Name : Michael Akinlosotu <br />
  Weight : 220lbs <br>
  BMI: 17%
</p> -->

<h2 id="uploadPrompt">Upload Front-Facing Before Picture</h2>

<form action='/upload' id="cloudUpload" method="post" enctype="multipart/form-data">
 <input type='file' name='image' />
 <input type="hidden" name="username" value=""
 <input id="submitButton" type="submit" value="submit" />
</form>

</p>

</div>





<script type="text/javascript" src="/javascripts/voila.js" > </script>


  </body>
</html>
